# logs

logs
*.log
yarn-error.log*
pnpm-debug.log*

# env

.env*

# vercel

.vercel

# typescript

*.tsbuildinfo
next-env.d.ts

# build / output

.next
output*

# videos (ignore ALL by default)

*.mp4

# ✅ BUT allow server videos (IMPORTANT)

!server/*.mp4
